.menu {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding-bottom: 30px;
   background-image: url(https://t4.ftcdn.net/jpg/02/75/92/41/360_F_275924184_GP4ACV80EK8NokxlFaUB2qykpXKrroqx.jpg);
}

.nome{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 50px ;
    background-color: bisque;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nome:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer;
}

.home{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 850px ;
    background-color: bisque;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer;
}

.cardapio{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: bisque;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cardapio:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.delivery{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: bisque;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delivery:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.reserva{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: bisque;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.reserva:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.quemsomos{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 0px;
    border: 2px solid black;
    padding-bottom: 500px;
}