*{
    margin: 0;
    padding: 0;
}


.menu {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding-bottom: 30px;
    background-image: url(https://t4.ftcdn.net/jpg/02/75/92/41/360_F_275924184_GP4ACV80EK8NokxlFaUB2qykpXKrroqx.jpg);
}

.nome{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 50px ;
    background-color: burlywood;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
}

.home{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 600px;
    background-color: burlywood;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer;
}

.cardapio{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: burlywood;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cardapio:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.delivery{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: burlywood;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delivery:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.reserva{
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: burlywood;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.reserva:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.delicias{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 0px;
    border: 1px solid black;
    border-bottom: 0px;
    padding-bottom: 0px;
    background-color: blanchedalmond;
}

.somos{
    margin-top: 25px;
}

.temos{
    margin-top: 0px;
}

.escolhas{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.pizzadoce{
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    margin-left: 45px;
    padding: 5px;
    margin-top: 0px;
}

.pizzasalgada{
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    padding: 5px;
    margin-top: 0px;
    margin-left: 182px;
}

.donalts{
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    padding: 5px;
    margin-top: 0px;
    margin-left: 218px;
}

.minipao{
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    padding: 5px;
    margin-top: 0px;
    margin-left: 220px;
}

.minipastel{
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    padding: 5px;
    margin-top: 0px;
    margin-left: 180px;
}

.imagenscomidas{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.imagempizzadoce{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 6px;
    margin-top: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

.imagempizzasalgada{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

.imagemdonalts{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 110px;
    margin-top: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

.imagempao{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 95px;
    margin-top: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

.imagemPastel{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    margin-left: 90px;
    margin-top: 5px;
    box-shadow: 1px 1px 10px 1px black;
}

.gerenciador{
    text-align: center;
    border: 2px solid black;
    padding-bottom: 20px;
    margin-top: 35px;
    background-color: rgb(104, 91, 75);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.acessecardapio{
    padding: 10px;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 25px;
    border-radius: 10px ;
    background-color: burlywood;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.acessecardapio:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.pecadelivery{
    padding: 10px;
    border: 2px solid black;
    margin-left: 200px;
    margin-top: 25px;
    border-radius: 10px ;
    background-color: burlywood;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pecadelivery:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.facareserva{
    padding: 10px;
    border: 2px solid black;
    margin-left: 200px;
    margin-top: 25px;
    border-radius: 10px ;
    background-color: burlywood;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.facareserva:hover{
    color: white; 
    background-color: coral; 
    cursor: pointer
}

.fim{
    margin-top: 0px;
    border: 0px solid black;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0px;
}

.DDO{
    margin-top: 8px;
    margin-left: 500px;
}
.app{
    margin-left: 50px;
}

.restante{
    margin-top: 0px;
    border: 0px solid black;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.DPD{
    margin-left: 310px;
}
.fins{
    margin-left: 50px;
}

.conosco{
    font-size: 30px;
    background-color: burlywood;
}

.compartilhe{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.insta{
    margin-left: 850px;
    width: 50px;
    height: 50px;
}

.facebook{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.twitter{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}